@font-face {
    font-family: "neon-tubes-2-regular";
    src: url("https://assets.codepen.io/2585/NeonTubes2.otf") format("woff"),
      url("https://assets.codepen.io/2585/NeonTubes2.otf") format("opentype"),
      url("https://assets.codepen.io/2585/NeonTubes2.otf") format("truetype");
  }
  
  * {
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    font-family: "neon tubes 2 regular";
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    font-size: 20pt;
    text-align: center;
  }
  
  body {
    background: hsl(0, 0%, 5%);
    background-size: cover;
  }
  
  a {
    color: white;
    text-shadow:0 0 5px #4682B4;
    font-size: 20pt;
  }
  a:hover {
    box-shadow: 0 0 6px#4682B4;
    text-shadow: 0 0 2px green;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.075);
  }
  